<div class="footer">
    <div class="container">
        <div class="footer_bottom">
            <ul class="footer__list">
                <li class="footer__list__point">
                    555-06-90
                </li>
                <li class="footer__list__point">
                    <a class="text footer__list__text footer__mail" href="mailto:inbox@workintime.com">inbox@workintime.com</a>
                </li>
            </ul>
            <div class="footer__copy">
                <p class="text footer__copy-text">&copy; Все права защищены.</p>
            </div>
        </div>
    </div>
</div>