<div class="top">
    <div class="container top__box">
        <ul class="top__menu">
            <li>
                <a asp-controller="Home" asp-action="Index"><img src="~/img/main_logo.png" alt="Главная"></a>
            </li>
            <li>
                <a asp-controller="Employees" asp-action="Index"><img src="~/img/contacts.png" alt="Контакты"></a>
            </li>
        </ul>
    </div>
</div>